.apply {
  position: relative;

  .wrap {
    display: flex;
    flex-wrap: wrap;
    margin-right: -24px;
  }

  .item {
    display: flex;
    align-items: center;
    flex-basis: calc(100% / 3 - 24px);
    margin-right: 24px;
    margin-bottom: 24px;
    border: 1px solid #d9cfc3;
    padding: 8px;
    border-radius: 24px;

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 116px;
      height: 116px;
      background-color: #f4efe9;
      margin-right: 16px;
      border-radius: 16px;

      img {
        width: 90px;
        height: auto;
        display: block;
      }
    }

    &-title {
      font-size: 24px;
      font-weight: 700;
    }
  }
}

/* ================== MEDIA =================== */
@media (max-width: 1199px) {
  .apply {
    .item {
      &-icon {
        min-width: 88px;
        height: 88px;

        img {
          width: 68px;
        }
      }

      &-title {
        font-size: 20px;
      }
    }
  }
}

/* ================== MEDIA =================== */
@media (max-width: 991px) {
  .apply {
    .item {
      flex-basis: calc(100% / 2 - 24px);
    }
  }
}

@media (max-width: 767px) {
  .apply {
    .item {
      flex-basis: calc(100%);
      margin-bottom: 8px;
    }
  }
}
