.sVideo {
  padding: 260px 0 160px;

  .wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
  }

  iframe {
    width: 100%;
    aspect-ratio: 16/9;
  }

  &__illustration {
    &-1 {
      position: absolute;
      left: -88px;
      top: -113px;
    }
    &-2 {
      position: absolute;
      right: 0;
      top: -100px;
    }
    &-3 {
      position: absolute;
      right: -170px;
      top: -70px;
    }
    &-4 {
      position: absolute;
      right: -131px;
      bottom: -97px;
    }
    &-5 {
      position: absolute;
      left: -133px;
      bottom: -95px;
    }
    &-6 {
      width: 100%;
      max-width: 385px;
      height: auto;
      margin: auto 0 auto auto;
      display: none;
    }
  }
}

/* ================== MEDIA =================== */
@media (max-width: 1199px) {
  .sVideo {
    padding: 180px 0 80px;
    .wrap {
      max-width: 770px;
    }
  }
}

@media (max-width: 991px) {
  .sVideo {
    padding: 80px 0 80px;
    iframe {
      border-radius: 16px;
      overflow: hidden;
    }

    &__illustration {
      &-1,
      &-2,
      &-3,
      &-4,
      &-5 {
        display: none;
      }

      &-6 {
        display: block;
      }
    }
  }
}
