.contact {
  padding-bottom: 32px;

  .topContent {
    flex-direction: row;
    margin-bottom: 40px;
  }

  .wrap {
    display: flex;
    margin-top: 1.5rem;
  }

  &__left {
    width: 55%;
    margin-right: 32px;
  }

  &__right {
    width: 45%;
  }
}

.contactBlock {
  width: 100%;
  height: 100%;
  padding: 0;
  padding: 2rem;
  background-color: $c_bg_secondary;
  border-radius: 1rem;
}

.pageContact {
  padding-top: 150px;

  .contactSteps {
    display: none;
  }
}

/* ================== MEDIA =================== */
@media (max-width: 1199px) {
  .contact {
    .wrap {
      display: flex;
      flex-direction: column;
    }
    &__left {
      width: 100%;
      margin-right: 0;
    }
    &__right {
      width: 100%;
    }
  }

  .contactBlock {
    min-height: auto !important;

    &.active {
      border-radius: 16px 16px 0 0;
    }
  }
}

@media (max-width: 767px) {
  .contactBlock {
    padding: 24px 16px;
  }
}
