.sStories {
  max-height: 1000px;
  overflow: hidden;

  .topContent {
    align-items: flex-start;
    .title {
      text-align: left;
    }
  }

  &.heightAuto {
    max-height: none;
  }

  .wrap {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  #sStories-pagination {
    display: none;
  }
}

.sCard {
  position: relative;

  &__block {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 24px;
    cursor: pointer;
    transform: translateZ(0);
    overflow: hidden;
    width: 100%;
    padding-bottom: 65.25%;

    img {
      @include image-in-block;
      border-radius: 16px;
      border-radius: inherit;
      transition: 0.4s ease-in-out;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.75) 100%
      );
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
      .sCard-play {
        transform: scale(1);
      }
    }
  }

  &__desc {
    p {
      line-height: 1.9;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 500;
    }
  }

  &__info {
    position: absolute;
    left: 16px;
    bottom: 16px;
    z-index: 2;
    display: flex;
    align-items: center;
    color: #fff;

    &_text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &-play {
    margin-right: 16px;
    position: relative !important;
    width: 50px !important;
    height: auto !important;
  }
}

.ssModal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 100;
  overflow: hidden;
  display: none;

  &-close {
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer;
    transition: 0.3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    svg {
      width: 32px;
      height: auto;
      fill: #fff;
      path {
        fill: #000;
      }
    }

    &:hover {
      opacity: 0.7;
    }
  }

  .container {
    height: inherit;
    display: flex;
    align-items: center;
  }

  .block {
    background-color: $c_bg_primary;
    padding: 24px;
    border-radius: 16px;
    height: auto;
    max-height: 94%;
    width: 100%;
    position: relative;
    z-index: 10;
    min-height: 300px;
  }

  &__topwrap {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 100%;
    cursor: pointer;
    left: -50%;
  }
}

.ssModal__card {
  &.active {
    display: block;
  }

  h4.title {
    margin-bottom: 10px;
  }

  &_row {
    display: flex;
    margin-right: -24px;
  }

  &_col {
    flex-basis: calc(100% / 2 - 24px);
    margin-right: 24px;
    display: flex;
    flex-direction: column;
  }

  &_video {
    position: relative;
    width: 100%;
    height: auto;
    height: auto;
    padding-bottom: 56.4%;
    background-color: $c_text_primary;
    margin-bottom: 30px;

    iframe {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border: none;
    }
  }

  &_info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &_content {
    position: relative;
    display: flex;
    flex-direction: column;

    &_top {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
    }
  }

  &-linkedin {
    transition: 0.3s linear;
    cursor: pointer;
    margin-left: 10px;
    display: none;
    img {
      width: 24px;
      height: auto;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &-site {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;

    &.pagePortfolio {
      display: none;
    }

    &:last-child {
      margin-bottom: 0;
    }

    span {
      color: $c_text_secondary;
      margin-right: 5px;
    }

    a {
      display: inline-block;
      color: #060a21;
      text-decoration: underline;
      line-height: 21px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .name {
    font-size: $s_22;
    font-weight: 500;
  }

  .position {
    color: $c_text_grey;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
  }

  .btn {
    margin: auto 0 auto auto;
  }

  &_block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .jsTechnologies {
    display: flex;
    flex-wrap: wrap;
    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2rem;
      width: fit-content;
      border-radius: 40px;
      margin-right: 8px;
      margin-bottom: 4px;
      padding: 0 16px;
      line-height: 1;
      font-weight: 500;
      &.blue {
        border: 1px solid $c_blue;
        color: $c_blue;
      }
      &.red {
        border: 1px solid $c_red;
        color: $c_red;
      }
      &.green {
        border: 1px solid $c_green;
        color: $c_green;
      }
      &.orange {
        border: 1px solid $c_orange;
        color: $c_orange;
      }
      &.yellow {
        border: 1px solid $c_yellow;
        color: $c_yellow;
      }
      &.bluegreen {
        border: 1px solid $c_blueGreen;
        color: $c_blueGreen;
      }
    }
  }
}

.ssModal__forslider{
  .ssModal__card_logo{
    display: none;
  }
}

.interview {
  &-title {
    font-size: 1rem;
    text-transform: uppercase;
    display: block;
    margin-bottom: 16px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  &__scroll {
    max-height: 600px;
    overflow-y: auto;
    padding-right: 20px;
    @include placeholder-style();
  }
  &__item {
    background-color: $c_bg_secondary;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;

    &-question {
      font-weight: 700;
      margin-bottom: 8px;
      display: block;
    }

    &-answer {
      color: $c_text_secondary;
    }
  }
}

#sStoriesSwiper {
  opacity: 0;
  display: flex;
  flex-direction: column;
}

.copyLink {
  // overflow: hidden;
  position: relative;
  display: flex;
  margin-left: 25px;

  &-button {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #060a21;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    background-color: #fff;
    svg {
      width: 18px;
      height: 18px;
      fill: #ff9142;

      path {
        fill: #060a21;
        transition: 0.3s;
      }
    }

    &:hover {
      border: 1px solid #ff9142;

      svg {
        path {
          fill: #ff9142;
        }
      }
    }
  }

  &-text {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    white-space: nowrap;
    font-size: 14px;
    left: 40px;
    opacity: 0;
    transition: 0.3s;

    &.active {
      opacity: 1;
      transform: translateY(-50%);
    }
  }
}

/* ================== MEDIA =================== */
@media (max-width: 1199px) {
  .sStories {
    .swiper__buttons {
      display: none;
    }
    #sStories-pagination {
      display: block;
    }
  }

  .ssModal {
    .block {
      overflow: hidden;
      padding: 0;
      display: flex;
      flex-direction: column;
    }
    .block-scroll {
      padding: 24px;
      overflow-y: auto;
      @include placeholder-style;
      max-height: calc(100% - 48px);
    }
  }

  .ssModal__card {
    &_row {
      flex-direction: column;
      margin-right: 0;
      height: 100%;
    }

    &_col {
      flex-basis: calc(100%);
      margin-right: 0;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .interview {
    &__scroll {
      height: auto;
      max-height: none;
      padding-right: 0;
    }
  }

  .ssModal-close {
    right: 10px;
    background-color: #fff;
    border-radius: 100%;
  }
}

@media (max-width: 767px) {
  .ssModal {
    .block-scroll {
      padding: 24px 16px;
    }
    &-close {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
  }

  .jsTechnologies {
    &-item {
      margin-bottom: 4px;
    }
  }

  .ssModal__card {
    &_info {
      flex-direction: column;
      align-items: flex-start;
    }

    &_video {
      margin-bottom: 15px;
    }

    &_content {
      margin-bottom: 15px;
    }
  }

  .copyLink {
    &-text {
      display: none !important;
    }
  }
}
