.sClutch {
  padding: 0;
  overflow: hidden;
  background-color: $c_bg_primary;

  &:after {
    content: "";
    position: absolute;
    height: 101%;
    width: 50%;
    top: 0;
    right: 0;
    background-color: #fff;
    border-radius: 32px 0 0 0;
  }

  .wrap {
    display: flex;
    align-items: center;
  }

  &-block {
    position: absolute;
    height: 100px;
    width: 100px;
    bottom: 0;
    right: 0;
    background-color: #fff;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      height: 101%;
      width: 100%;
      top: -1%;
      left: 0%;
      background-color: $c_bg_primary;
      border-radius: 0 0 32px 0;
      z-index: 2;
    }
  }

  &__col {
    flex-basis: calc(100% / 2);
    height: 12.5rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
  }

  &__numbers {
    display: flex;
    align-items: center;
    width: 100%;

    &_item {
      height: 8.5rem;
      background-color: $c_bg_primary;
      margin-left: 32px;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 12px 24px;

      span {
        display: block;
        font-size: 4rem;
        font-weight: 500;
        line-height: 1;
        color: #fff;
      }

      p {
        color: #fff;
        font-weight: 700;
      }

      &:nth-child(1) {
        min-width: 256px;
        max-width: 256px;
      }

      &:nth-child(2) {
        background: $c_green;
        width: 100%;
      }
    }
  }

  &__logo {
    width: 100%;
    max-width: fit-content;
    z-index: 102;
    position: relative;
    cursor: pointer;

    &-stars img{
      width: 100%;
      max-width: 8.5rem;
      height: auto;
    }
    .sClutch-logo img{
      width: 100%;
      max-width: 8.6rem;
      height: auto;
    }
    &_top {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      .sClutch__logo-text {
        margin-right: 20px;
      }
    }
    &_bottom {
      display: flex;
      align-items: center;
      .sClutch__logo-text {
        margin-left: 20px;
        margin-top: 10px;
      }
    }
    &-text {
      color: rgba(255, 255, 255, 0.8);
      text-transform: uppercase;
      font-size: $s_18;
      letter-spacing: 1px;
      white-space: nowrap;
    }
  }
}

/* ================== MEDIA =================== */
@media (max-width: 1199px) {
  .sClutch {
    &__col {
      height: 170px;
    }
    // &-logo img {
    //   width: 196px;
    // }

    &__numbers {
      &_item {
        padding: 12px 16px;
        margin-left: 16px;
        span {
          font-size: 40px;
        }

        &:nth-child(1) {
          min-width: 130px;
          max-width: 130px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .sClutch {
    .wrap {
      flex-direction: column;
      align-items: flex-start;
    }

    &-block {
      right: -20px;
    }

    &::after {
      display: none;
    }
    &__col {
      flex-basis: calc(100%);
      width: 100%;
      height: auto !important;

      &:nth-child(1) {
        padding-bottom: 30px;
      }
      &:nth-child(2) {
        padding-top: 20px;

        &::after {
          content: "";
          position: absolute;
          left: -22px;
          top: 0;
          width: calc(100% + 44px);
          height: 101%;
          background-color: #fff;
        }
      }
    }

    &__numbers {
      position: relative;
      width: 100%;
      z-index: 2;
      &_item {
        &:nth-child(1) {
          margin-left: 0;
          min-width: 130px;
        }
        &:nth-child(2) {
          width: 100%;
        }
      }
    }
  }
}
