.usedTechnologies {
  position: relative;

  h2.title {
    text-align: center;
    display: block;
    margin-bottom: 8px;
  }

  &-subtitle {
    display: block;
    text-align: center;
    font-size: $s_20;
  }

  .wrap {
    max-width: $s_post_container;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -16px;
  }

  &__item {
    display: flex;
    margin-bottom: 16px;
    position: relative;
    flex-basis: calc(100% / 6 - 16px);
    margin-right: 16px;
    flex-direction: column;
    align-items: center;

    &_block {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 8px;
      width: 100%;
    }

    &-figure {
      width: 100%;
      height: auto;
    }

    &-logo {
      display: block;
      position: absolute;
      width: 72%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    span {
      text-align: center;
      color: $c_text_secondary;
      font-weight: 700;
    }
  }

  &__content {
    max-width: $s_post_container;
    margin: 0 auto;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }

    ul {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/* ================== MEDIA =================== */
@media (max-width: 1199px) {
  .usedTechnologies__item {
    flex-basis: calc(100% / 5 - 16px);
  }
}

@media (max-width: 767px) {
  .usedTechnologies__list {
    margin-right: -8px;
  }

  .usedTechnologies__item {
    flex-basis: calc(100% / 3 - 8px);
    margin-right: 8px;
  }
}
