// Colors
$c_red: #e84623;
$c_red_light: #ffe7e2;
$c_orange: #ff9142;
$c_orange_light: #ffefe4;
$c_blue: #118ab2;
$c_blue_light: #e2f8ff;
$c_yellow: #e8b746;
$c_yellow_light: #fff3d8;
$c_green: #20c198;
$c_green_light: #e4fff8;
$c_blueGreen: #073b4c;
$c_blueGreen_light: #d0dee0;

// Color text
$c_text_primary: #060A21;
$c_text_grey: #747683;
$c_text_light: #B0B3C1;

// BG Color
$c_bg_primary: #03040D;
$c_bg_secondary: #12141E;
$c_bg_third: #1F212F;
$c_bg_fourth: #373B50;
$c_bg_grey_dark: #70758E;
$c_bg_grey: #C7C9D6;
$c_bg_grey_light: #E9E9F2;
$c_bg_grey_white: #FAFAFF;

// Size
$s_4: 0.25rem;
$s_12: 0.75rem;
$s_14: 0.875rem;
$s_18: 1.125rem;
$s_20: 1.25rem;
$s_22: 1.375rem;
$s_28: 1.75rem;
$s_36: 2.25rem;
$s_56: 3.5rem;
$s_60: 3.75rem;
$s_72: 4.5rem;
$s_88: 5.5rem;

$s_post_container: 50rem;

// Fonts
$ff_general: "MacPawFixelDisplay";