.projectTask {
  position: relative;

  .topContent {
    margin-bottom: 120px;
  }

  &__item {
    margin-bottom: 160px;
    display: flex;
    align-items: flex-start;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(2) {
      .projectTask__content {
        order: 2;
        padding-right: 0px;
        padding-left: 60px;

        .title {
          text-align: right;
          margin: auto 0 32px auto;
        }
      }
      .projectTask__project-image {
        margin-left: auto;
        margin-right: -60px;
      }
      .projectTask__review {
        margin: 230px auto auto 0;
      }

      .projectTask__deck {
        p,
        ul li,
        ol li {
          text-align: right;
        }
      }
    }
  }

  &__content {
    position: relative;
    padding-right: 60px;

    .title {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 32px;
      display: block;
      max-width: 70%;
    }
  }

  &__project {
    min-width: 548px;
    max-width: 548px;
    border-radius: 16px;
    background-color: rgba(244, 239, 233, 1);
    padding: 32px 24px;

    &-image {
      border-radius: 16px;
      border: 1px solid rgba(199, 201, 214, 1);
      min-width: 111.6%;
      width: 100%;
      height: auto;
      aspect-ratio: 16/13;
      position: relative;
      overflow: hidden;
      margin-left: -60px;
      margin-top: 24px;
      margin-bottom: 12px;

      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .shortDesc {
      color: rgba(81, 79, 76, 1);
      max-width: 378px;
      font-weight: 600;
      font-size: 16px;
    }

    .btnText {
      //   padding: 0;
      margin: auto 0 auto auto;
    }
  }

  &__review {
    background-color: rgba(40, 36, 31, 1);
    border-radius: 16px;
    padding: 32px;
    width: 100%;
    max-width: 470px;
    margin: 130px 0 auto auto;

    &_row {
      display: flex;
      align-items: center;
      margin-top: 24px;
    }

    &_photo {
      width: 60px;
      height: 60px;
      border-radius: 100%;
      overflow: hidden;
      position: relative;
      margin-right: 20px;

      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    p {
      color: #fff;
      font-size: 18px;
      font-weight: 500;
    }

    &-name {
      display: flex;
      align-items: center;
      color: #fff;
    }

    &-linkedin{
      position: relative;
      display: block;
      margin-left: 10px;
      transition: 0.3s; 

      &:hover{
        transform: scale(1.05);
      }
    }

    &-position {
      color: rgba(176, 179, 193, 1);
    }
  }

  &-arrow-1 {
    position: absolute;
    top: 0;
    right: 43px;
  }

  &-arrow-2 {
    position: absolute;
    right: 54px;
    top: 290px;
  }

  &-arrow-3 {
    position: absolute;
    left: 90px;
    top: 260px;
  }
}

/* ================== MEDIA =================== */
@media (max-width: 1199px) {
  .projectTask {

    .topContent{
      margin-bottom: 80px;
    }

    &__item {
      flex-direction: column;
      margin-bottom: 80px;

      &:nth-child(2) {
        .projectTask__content {
          order: 0;
          padding-left: 0;

          .title {
            text-align: left;
            margin: auto auto 32px 0;
          }
        }
        .projectTask__review {
          margin-top: 0;
          margin-bottom: 24px;
        }
        .projectTask__deck {
          p,
          ul li,
          ol li {
            text-align: left;
          }
        }
      }
    }

    &__content {
      padding-right: 0;

      .title {
        max-width: 100%;
        font-size: 28px;
      }
    }

    &__review {
      max-width: 100%;
      margin-top: 0;
      margin-bottom: 24px;
    }

    &-arrow-1,
    &-arrow-2,
    &-arrow-3{
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .projectTask {
    .topContent {
      margin-bottom: 80px;
    }

    &__item {
      margin-bottom: 80px;

      &:nth-child(2) {
        .projectTask__project-image {
          margin-right: -8px;
        }
      }
    }

    &__content {
      .title {
        font-size: 24px;
        margin-bottom: 24px !important;
      }
    }

    &__review {
      padding: 24px;

      p {
        font-size: 16px;
      }
    }

    &__project {
      min-width: auto;
      max-width: 100%;
      padding: 16px;

      &-image {
        border-radius: 10px;
        margin-left: -24px;
        min-width: 106.3%;
        margin-top: 12px;
      }
    }
  }
}
