.weHelp {
  position: relative;
  background-color: $c_bg_primary;

  .topContent{
    .shortDesc{
      text-align: center;
      margin-top: 12px;
    }
  }

  .select2 {
    display: none;
  }
}

.weHelpCard {
  position: relative;
  background: $c_bg_secondary;
  padding: 36px 24px 24px 36px;
  border-radius: 16px;
  flex-basis: calc(100% / 3 - 24px);
  margin-bottom: 24px;
  margin-right: 24px;

  .iconBlock {
    margin-right: 28px;
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 2.74rem;
  }

  &__bottom {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .btn {
    width: 9.375rem;
    transition: 0.3s;
  }

  @media (any-hover: hover) {
    &:hover {
      .btn {
        width: 100%;
      }
    }
  }

  &-icon {
    display: none;
  }

  .title {
    line-height: 1.3;
  }
}

.weHelpTab {
  &__nav {
    border: 1px solid $c_bg_third;
    border-radius: 40px;
    padding: 4px;
    margin-bottom: 24px;
    position: relative;

    &_wrap {
      display: flex;
      margin-right: -8px;
    }

    .weHelpTab__nav-line {
      position: absolute;
      left: 4px;
      top: 4px;
      background: $c_bg_third;
      width: calc(25% - 10px);
      height: calc(100% - 8px);
      z-index: 1;
      border-radius: 40px;
      transition: 0.3s linear;
    }

    &_item {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $s_18;
      color: #fff;
      font-weight: 600;
      flex-basis: calc(100% / 4 - 8px);
      margin-right: 8px;
      height: 2.5rem;
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color 0.3s;
      border-radius: 40px;
      // background-color: rgba(232, 70, 235, 0.2);

      @media (any-hover: hover) {
        &:hover {
          color: rgba(255, 255, 255, 0.5);
        }
      }

      &.active {
        pointer-events: none;
        @media (any-hover: hover) {
          &:hover {
            color: rgba(255, 255, 255, 1);
          }
        }
      }
    }
  }

  &__content {
    &_item {
      display: none;

      &:nth-child(1) {
        display: block;
      }
    }

    &_wrap {
      display: flex;
      flex-wrap: wrap;
      margin-right: -24px;
    }
  }
}





/* ================== MEDIA =================== */
@media (max-width: 1199px) {
  .weHelpCard {
    flex-basis: calc(100% / 2 - 24px);
  }
}

@media (max-width: 991px) {
  .weHelpTab__content_wrap {
    margin-right: -8px;
  }

  .weHelpCard {
    flex-basis: calc(100% / 2 - 8px);
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 16px;

    &__top {
      margin-bottom: 0;
    }

    .btn {
      display: none;
    }

    .iconBlock {
      width: 48px;
      min-width: 48px;
      height: 48px;
      margin-right: 24px;

      img {
        width: 32px;
      }
    }

    &-icon {
      display: block;
      position: absolute;
      right: 8px;
      top: 8px;
    }

    .title {
      font-size: 20px;
      max-width: 170px;
    }
  }
}

@media (max-width: 767px) {
  .weHelp {
    position: relative;

    .select2 {
      display: block;
    }
  }
  .weHelpTab__nav {
    display: none;
  }

  .weHelpCard {
    flex-basis: calc(100%);
  }
}
