.subscribeBlock {
  background-color: #e4fff8;
  border-radius: 16px;
  padding: 16px;

  &-title {
    font-weight: 700;
    color: #20c198;
    display: block;
    text-transform: uppercase;
    margin-bottom: 3px;
  }

  &-subtitle {
    line-height: 1.9;
    margin-bottom: 32px;
    display: block;
  }

  input {
    height: 48px;
    border-radius: 40px;
    padding-left: 16px;
    border: 1px solid $c_green;
    font-size: 16px;
    font-weight: 500;
    color: #747683;
    margin-bottom: 16px;
    font-family: "MacPawFixelDisplay", sans-serif;
    width: 100%;
  }

  .submit {
    background-color: $c_green;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #060a21;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    width: 100%;
    height: 48px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      box-shadow: 0px 0px 0px 8px rgba(32, 193, 152, 0.25);
    }
  }
}

.subscribe {
  position: relative;
  padding: 4rem 0;

  .title {
    font-weight: 700;
    display: block;
    margin-bottom: 8px;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-desc {
    color: #747683;
    max-width: 25rem;
    text-align: center;
    margin-bottom: 24px;
  }

  form {
    width: 32.8125rem;
    height: auto;
    border: 1px solid $c_green;
    padding: 4px;
    border-radius: 40px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    input {
      width: 100%;
      height: 3rem;
      border-radius: 40px;
      font-family: "MacPawFixelDisplay", sans-serif;
      color: #747683;
      padding-left: 20px;
      font-size: 1rem;
      font-weight: 500;
      border: none;
      padding-right: 10px;
    }

    button {
      min-width: 11rem;
      max-width: 11rem;
      height: 3rem;
      color: #060a21;
      font-size: $s_18;
      font-weight: 600;
      border-radius: 40px;
      background-color: $c_green;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        box-shadow: 0px 0px 0px 8px rgba(32, 193, 152, 0.25);
      }
    }
  }
}

/* ================== MEDIA =================== */
@media (max-width: 767px) {
  .subscribe {
    form {
      flex-direction: column;
      width: 100%;
      max-width: 310px;
      border: none;
      padding: 0;

      input{
        border: 1px solid $c_green;
        margin-bottom: 8px;
      }

      button{
        width: 100%;
        max-width: none;
      }
    }
  }
}
